@charset "UTF-8";
/* Icons
-------------------------------------------------- */
@font-face {
  font-family: "fontello";
  src: url("./fonts/fontello.eot?70815016");
  src: url("./fonts/fontello.eot?70815016#iefix") format("embedded-opentype"), url("./fonts/fontello.woff2?70815016") format("woff2"), url("./fonts/fontello.woff?70815016") format("woff"), url("./fonts/fontello.ttf?70815016") format("truetype"), url("./fonts/fontello.svg?70815016#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel {
  font-size: 20px;
  color: #8f959a;
}
.icon-cancel:before {
  content: "";
}

.icon-sound:before {
  content: "";
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: #f5f5f5;
  font-size: 1.05rem;
  /* Margin bottom by footer height */
}

header {
  margin: 0 auto;
  text-align: center;
}
header h1 {
  display: inline-block;
  letter-spacing: 0.02rem;
  font-weight: 600;
}
@media (min-width: 576px) {
  header h1 {
    font-size: 2.6rem;
  }
}
header h1 sup {
  font-size: 30%;
  top: -1.9em;
  border: 1px dotted #212529;
  padding: 1px 4px;
  border-radius: 21px;
  margin-left: 3px;
  letter-spacing: 0;
}
@media (min-width: 576px) {
  header h1 sup {
    padding: 1px 5px 2px;
  }
}

.container {
  width: auto;
  padding: 0 15px;
  max-width: 650px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-size: 0.8rem;
  /* Set the fixed height of the footer here */
  line-height: 20px;
  /* Vertically center the text there */
  background-color: inherit;
}
@media (min-width: 576px) {
  .footer {
    font-size: 0.85rem;
    line-height: 1.7;
    padding: 17px 0;
  }
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#results {
  padding-bottom: 1.1rem;
  padding-top: 1.8rem;
}
@media (min-width: 576px) {
  #results {
    padding-bottom: 1.8rem;
  }
}
#results a {
  color: inherit;
  border-bottom: 1px dotted #212529;
}
#results a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}
#results > dl {
  padding: 0.6rem 0.55rem;
  background-color: #ffffffeb;
  border-radius: 11px;
  box-shadow: 0 2px 9px 0 rgba(148, 148, 148, 0.08);
}
#results > dl:first-of-type {
  margin-top: 0;
}
#results dt {
  display: none;
}
#results dd,
#results dd > span {
  margin-left: 0;
  padding: 0 0.4rem;
}
#results dd.audio, #results dd.pr {
  display: inline-block;
  position: relative;
  padding: 0;
  left: -0.2rem;
}
#results ol,
#results ul {
  margin: 0;
}
#results div.or-container span,
#results ul.or .list-inline-item span {
  font-style: italic;
}
#results div.or-container span span,
#results ul.or .list-inline-item span span {
  font-style: normal;
}
#results ol {
  padding: 0;
}
#results ol.ex, #results ol.inf {
  list-style-type: none;
}
#results ol > li {
  list-style-position: inside;
}
#results div.inf span,
#results ol.inf span {
  font-style: italic;
}
#results .ex,
#results .inf,
#results .or-container {
  margin-top: 0.2rem;
}
#results .dt-def + dd + .dt-ex + dd .ex {
  margin-top: 0.2rem;
}
#results div.ex::before,
#results div.inf::before,
#results ol.ex li::before,
#results ol.inf li::before {
  padding-right: 0.2rem;
}
#results div.ex::before,
#results ol.ex li::before {
  font-style: normal;
  content: "◇";
}
#results div.inf::before,
#results ol.inf li::before {
  content: "◌";
}
#results .sc {
  font-size: 1.15rem;
  min-height: 1.5rem;
}
#results .pl > span,
#results .pp > span,
#results .pt > span,
#results .pt-pp > span {
  min-height: 1.4rem;
}
#results .neg > span,
#results .pl > span,
#results .pp > span,
#results .pt > span,
#results .pt-pp > span,
#results .sc {
  display: inline-block;
}
#results .or-container ul,
#results .or-container ul li,
#results ol.ex li,
#results ol.inf li {
  display: inline;
}
#results .ex,
#results .inf {
  color: #676767;
  font-size: 0.85rem;
}
#results ol.ex li:not(:last-child),
#results ol.inf li:not(:last-child) {
  padding-right: 0.25rem;
}
#results .sc-alt {
  position: relative;
  top: -0.2rem;
}
@media (min-width: 576px) {
  #results .sc-alt {
    display: inline-block;
    top: 0;
  }
}
#results .ex {
  font-style: italic;
}
#results .def,
#results .en {
  font-size: 1rem;
}
#results .or {
  padding-left: 0;
}
#results .neg,
#results .pl,
#results .pp,
#results .pt,
#results .pt-pp {
  display: block;
}
#results .neg span,
#results .pl span,
#results .pp span,
#results .pt span,
#results .pt-pp span,
#results .sc,
#results .sc-alt {
  font-weight: 600;
}
#results .en {
  font-style: italic;
  padding-top: 0.1rem;
}
#results .en em,
#results .en span {
  font-style: normal;
  color: #9e9e9e;
}
#results .def em,
#results .def span {
  font-style: italic;
  color: #808080;
}
#results .grammar {
  font-style: italic;
  display: block;
  padding-top: 0.1rem;
}
@media (min-width: 576px) {
  #results .grammar {
    display: inline;
    padding: 0 !important;
  }
}
#results .grammar span {
  font-style: normal;
  padding: 0 !important;
}
#results .hl {
  background-color: #a1ff9594;
  border-radius: 7px;
}
#results .grammar,
#results .or-container,
#results .pr,
#results .sc-alt {
  font-size: 0.8rem;
}
#results .grammar,
#results .or-container,
#results .pr {
  color: #8c8c8c;
}

.text-muted {
  color: #595e63 !important;
}

#search {
  padding-top: 0.8rem;
}
@media (min-width: 576px) {
  #search {
    padding-top: 1rem;
  }
}
#search .form-group {
  margin-bottom: 1.2rem;
}
#search .form-control {
  font-size: 1.1rem;
}
#search .form-control::placeholder {
  font-weight: 400;
  color: #2125298c;
}
#search .input-group > .form-control:not(:last-child),
#search .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#search .input-group button.btn.bg-transparent {
  margin-left: -49px;
  z-index: 100;
}
#search #searchTextbox {
  border-radius: 2rem;
  padding-left: 1.1rem;
  padding-right: 2.3rem;
  color: #212529;
  font-weight: 400;
}
#search #searchTextbox.form-control-pseudo-focus, #search #searchTextbox:focus {
  color: #212529;
  border-color: #7777771a;
  box-shadow: 0 2px 9px 0 rgba(148, 148, 148, 0.14);
  outline: 0;
}

.fade {
  transition: opacity 0.075s linear;
}
.fade.show {
  opacity: 1;
}

.mt-5,
.my-5 {
  margin-top: 1.7rem !important;
}

.h1,
h1 {
  font-size: 2.3rem;
}

button.btn.bg-transparent:focus {
  outline: 0;
  opacity: 0.8;
  box-shadow: none;
}
button.play-audio {
  padding: 0;
  top: -0.1rem;
  position: relative;
}
button.play-audio i {
  color: #404040;
}
button:disabled {
  color: inherit !important;
  opacity: 0.75 !important;
}

.get-update {
  margin: 0.3rem 0;
}
@media (min-width: 576px) {
  .get-update {
    margin: 0.5rem 0;
  }
}

.btn-primary {
  background-color: #005eb8;
  border-color: #005eb8;
  font-size: inherit;
  padding: 0.3rem 0.7rem 0.35rem;
}
.btn-primary:hover {
  background-color: #0068cb;
  border-color: #0068cb;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #0057a9;
  border-color: #0057a9;
}

.btn-link-gray {
  border: 0;
  border-bottom: 1px dotted #212529;
  background: none;
  padding: 0;
  margin: 0;
}
.btn-link-gray:hover {
  border-bottom-style: solid;
  cursor: pointer;
}
.btn-link-gray:focus {
  outline: 0;
}

.btn-link-gray .btn-link-gray .btn-link-gray:active {
  color: inherit;
}

/*# sourceMappingURL=app.css.map */
