@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Icons
-------------------------------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?70815016');
  src: url('./fonts/fontello.eot?70815016#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff2?70815016') format('woff2'),
       url('./fonts/fontello.woff?70815016') format('woff'),
       url('./fonts/fontello.ttf?70815016') format('truetype'),
       url('./fonts/fontello.svg?70815016#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-cancel {
    font-size: 20px;
    color: #8f959a;
}
.icon-sound:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    background-color: #f5f5f5;
    /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: .8rem;
    /* Set the fixed height of the footer here */
    line-height: 20px;
    /* Vertically center the text there */
    background-color: inherit;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

header {
    margin: 0 auto;
    text-align: center;
}

header img {
    height: 34px;
    margin-top: -11px;
    margin-right: 6px;
}

@media (min-width: 576px) {
    header img {
        margin-top: -19px;
    }
    header img {
        height: 38px;
    }
}

header h1 {
    display: inline-block;
}

.container {
    width: auto;
    padding: 0 15px;
}
@media (min-width: 992px) {
    .container {
        width: auto;
        max-width: 960px;
        padding: 0 15px;
    }
}
main.container {
    max-width: 680px;
}
ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
ul>li:not(.no-results) {
    margin-bottom: 10px;
    padding: 9px 11px 11px 11px;
    line-height: 1.4;
    background-color: #ffffffeb;
    border-radius: 11px;
}
/* ul>li.phrase {
    border: 1px dotted #212529;
} */
ul.or {
    display: inline;
}
ul.or .list-inline-item {
    margin: 0;
    padding: 0 1px 0 0;
}
ul.or .list-inline-item span, div.or-container span {
    font-style: italic;
    padding-right: 1px;
}
ul.or .list-inline-item span span, div.or-container span span {
    font-style: normal;
}
ul.or .list-inline-item:last-child {
    padding-right: 0;
}
ol {
    margin-top: 3px;
    line-height: 1.5;
}
ol>li {
    list-style-position: inside;
}
ol.ex, ol.inf {
    list-style-type: none;
}
ol.inf span, div.inf span {
    font-style: italic;
}
ol.ex li::before, div.ex::before, ol.inf li::before, div.inf::before {
    padding-right: 3px;
}
ol.ex li::before, div.ex::before {
    font-style: normal;
    content: '\25c7';
}
ol.inf li::before, div.inf::before {
    content: '\25CC';
}
h1 {
    font-weight: 600;
}
h1 sup {
    font-size: 30%;
    top: -1.9em;
    border: 1px dotted #212529;
    padding: 1px 4px 1px 4px;
    border-radius: 21px;
    margin-left: 3px;
}
.sc {
    padding: 1px 6px 3px 4px;
    display: inline-block;
}
.sc.hl {
    /* margin-right: 4px; */
}
.or-container {
    padding: 5px 0 0 4px;
}
.or-container ul, .or-container ul li, ol.ex li, ol.inf li {
    display: inline;
}
ol.ex, div.ex, ol.inf, div.inf {
    color: #676767;
}
ol.ex li:not(:last-child), ol.inf li:not(:last-child) {
    padding-right: 3px;
}
/* .def {
    padding: 1px 0 0 4px;
} */

.sc-alt {
    padding: 3px 4px 0 4px;
}
.grammar {
    padding: 0 4px;
}
.ex {
    font-style: italic;
}
.en, .def, .ex, .inf {
    padding: 1px 4px 0 4px;
}
div.en, div.def, div.ex, div.inf {
    padding: 4px 0 0 4px;
}
.en, .def {
    font-size: .95rem;
}
.ex, .inf {
    font-size: .8rem;
}
.pt, .pp, .pt-pp, .neg, .pl {
    padding-left: 4px;
    line-height: 1.5;
}
.or {
    padding-left: 0;
    line-height: 1.4;
}
.pt span, .pp span, .pt-pp span, .neg span, .pl span {
    margin: 1px 5px;
}
.pt span.hl, .pp span.hl, .pt-pp span.hl, .neg span.hl, .pl span.hl {
    margin: 1px -2px;
}
.pt, .pp, .pt-pp, .neg, .pl {
    display: block;
}
.sc, .sc-alt span, .pt span, .pp span, .pt-pp span, .neg span, .pl span {
    font-weight: 600;
}
.en {
    font-style: italic;
}
.en span, .en em {
    font-style: normal;
    color: #9e9e9e;
}
.def span, .def em {
    font-style: italic;
    color: #9e9e9e;
}
.grammar {
    font-style: italic;
    display: block;
}
.grammar span {
    font-style: normal;
}
.hl {
    background-color: #a1ff9594;
    padding: 1px 6px 3px 6px;
    border-radius: 7px;
    margin-left: -2.1px;
}
.sc-alt, .or-container, .grammar, .pr {
    color: #9e9e9e;
    font-size: .8rem;
}
#search {
    padding-top: 15px;
}
#result {
    padding-bottom: 30px;
    padding-top: 26px;
}
#result a {
    color: inherit;
    border-bottom: 1px dotted #212529;
}
#result a:hover {
    border-bottom-style: solid;
    text-decoration: none;
}
.fade {
    transition: opacity 0.075s linear;
}
.mt-5, .my-5 {
    margin-top: 1.7rem !important;
}
.h1, h1 {
    font-size: 1.8rem;
}
#searchTextbox {
    border-radius: 2rem;
    padding: .58rem 2.3rem .54rem 1.1rem;
    color: #212529;
    font-weight: 400;
}
#searchTextbox:focus, .form-control-pseudo-focus {
    color: #212529;
    border-color: #7777771a;
    box-shadow: 0px 2px 9px 0rem rgba(148, 148, 148, 0.14);
    outline: 0;
}
.form-control::placeholder {
    font-weight: 400;
    color: #2125298c;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.input-group button.btn.bg-transparent {
    margin-left: -49px;
    z-index: 100;
}
button.btn.bg-transparent:focus {
    outline: 0;
    opacity: .8;
    box-shadow: none;
}
.audio {
    margin-left: -5px;
    margin-right: -1px;
}
.hl + .audio {
    margin-left: -5px;
}
button.play-audio {
    padding: 0;
    margin: -3px -1px 0 -1px;
}
button.play-audio i {
    color: #404040;
    padding: 1px;
}
button:disabled {
    color: inherit !important;
    opacity: .75 !important;
}
.btn-link-gray {
    border: 0;
    border-bottom: 1px dotted #212529;
    background: none;
    padding: 0;
    margin: 0;
}
.btn-link-gray:hover {
    border-bottom-style: solid;
    cursor: pointer;
}
.btn-link-gray:focus {
    outline: 0;
}
.btn-link-gray:active {
    color: inherit;
}
@media (min-width: 576px) {
    .grammar {
        display: inline;
        padding: 0;
    }
    .footer {
        font-size: .85rem;
        line-height: 24px;
        padding: 17px 0;
    }
    .h1, h1 {
        font-size: 2.5rem;
    }
    h1 sup {
        padding: 1px 5px 2px 5px;
    }
}
@media (max-width: 575px) {
    /* .hl+span+span.grammar, .hl+span.grammar {
        margin-top: 0.15rem;
    } */
}
