::selection {
    background-color: #0082ff;
    color: #fff;
}

header ::selection {
    background-color: #fff;
    color: #0082ff;
}

.icon-cancel {
    font-size: 20px;
    color: #8f959a;
    border-radius: .25rem;

    &:before {
        content: '\e801';
    }
}

.icon-sound:before {
    content: '\e800';
}

svg.block {
    display: block;
    margin: 0 auto 1rem auto;
}

.text-bold {
    font-weight: 600;
}

.hide {
    display: none !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    background-color: #fcfcfcdb;
    font-size: 1.05rem;
    /* Margin bottom by footer height */
}

header {
    margin: 0 auto;
    text-align: center;
    background: #0082ff;
    background: radial-gradient(circle, #0082ff 0%, #007bef 100%);
    color: #fff;

    h1 {
        display: inline-block;
        margin: 1rem auto 1.2rem;
        letter-spacing: 0.02rem;
        font-weight: 600;

        @media (min-width: 576px) {
            font-size: 2.6rem;
        }

        sup {
            font-size: 0.65rem;
            top: -1.3rem;
            padding: 0;
            margin-left: 0.3rem;
            letter-spacing: 0;

            @media (min-width: 576px) {
                font-size: 0.75rem;
                // padding: 1px 5px 2px;
            }
        }

        a,
        a:focus,
        a:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

.container {
    width: auto;
    padding: 0 15px;
    max-width: 550px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0 1rem 0;
    font-size: 0.8rem;
    /* Set the fixed height of the footer here */
    line-height: 20px;
    /* Vertically center the text there */
    background-color: inherit;
}

a:focus,
button.btn-link-gray:focus {
    outline: 1px dotted #212529;
}

a:focus {
    outline-offset: 0.2rem;
}

button.btn-link-gray:focus {
    outline-offset: 0.4rem;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

#results {
    padding-bottom: 0.4rem;
    padding-top: 1.8rem;

    a {
        color: inherit;
        border-bottom: 1px dotted #212529;

        &:focus,
        &:hover {
            border-bottom-style: solid;
            text-decoration: none;
        }
    }

    >dl {
        padding: 0.6rem 0.55rem 0.71rem;
        background-color: #ffffff;
        border-radius: 11px;
        box-shadow: 0 2px 9px 0 rgba(148, 148, 148, 0.15);

        &:first-of-type {
            margin-top: 0;
        }
    }

    dt {
        display: none;
    }

    dd,
    dd>span {
        margin-left: 0;
        padding: 0 0.4rem;
    }

    dd {
        &.audio {
            display: inline-block;
            position: relative;
            padding: 0;
        }

        &.sc {
            line-height: 1.4;
            padding-bottom: 0.15rem;
            margin-bottom: -0.1rem;
        }

        &.sc,
        &.sc>span {
            padding-left: 0.38rem;
        }
    }

    ol,
    ul {
        margin: 0;
    }

    div.or-container span,
    ul.or .list-inline-item span {
        font-style: italic;
    }

    div.or-container span span,
    ul.or .list-inline-item span span {
        font-style: normal;
    }

    ol {
        padding: 0;

        &.ex,
        &.inf {
            list-style-type: none;
        }

        >li {
            list-style-position: inside;
        }
    }

    div.inf span,
    ol.inf span {
        font-style: italic;
    }

    .ex,
    .inf {
        margin-top: 0.2rem;
    }

    .or-container {
        margin-top: 0.15rem;
    }

    .dt-def+dd+.dt-ex+dd>.ex {
        margin-top: 0.2rem;
    }

    .dt-def+dd+.dt-en+dd>.en,
    .pp+.dt-en+dd {
        margin-top: 0.1rem;
    }

    .dt-def+dd+.dt-ex+dd {
        margin-top: -0.1rem;
    }

    ol.ex,
    ol.inf {
        line-height: 1.4;
    }

    div.ex::before,
    div.inf::before,
    ol.ex li::before,
    ol.inf li::before {
        padding-right: 0.2rem;
    }

    div.ex::before,
    ol.ex li::before {
        font-style: normal;
        content: '\25c7';
    }

    div.inf::before,
    ol.inf li::before {
        content: '\25CC';
    }

    .sc {
        font-size: 1.15rem;
        min-height: 1.5rem;
    }

    .pl>span,
    .pp>span,
    .pt>span,
    .pt-pp>span {
        min-height: 1.4rem;
    }

    .neg>span,
    .pl>span,
    .pp>span,
    .pt>span,
    .pt-pp>span,
    .sc {
        display: inline-block;
    }

    .or-container ul,
    .or-container ul li,
    ol.ex li,
    ol.inf li {
        display: inline;
    }

    .ex,
    .inf {
        color: #676767;
        font-size: 0.85rem;
    }

    ol.ex li:not(:last-child),
    ol.inf li:not(:last-child) {
        padding-right: 0.25rem;
    }

    .sc-alt {
        position: relative;

        @media (min-width: 576px) {
            display: inline-block;
            padding-left: 0;
        }

        // &+.dt-pr+.pr {
        //     @media (max-width: 575px) {
        //         padding-left: 0.5rem;
        //     }
        // }
    }

    .ex {
        font-style: italic;
    }

    .dt-en+dd .en,
    .dt-def+dd .def,
    .pt-pp,
    .pt,
    .pp,
    .neg,
    .pl {
        font-size: 0.95rem;
    }

    .dt-en+dd .en,
    .dt-def+dd .def {
        padding-top: 0.15rem;
        padding-bottom: 0.2rem;
    }

    .dt-def+dd+.dt-en+dd .en {
        margin-top: 0;
        padding-top: 0.1rem;
    }

    .pt,
    .pp,
    .pt-pp {
        &+.dt-def+dd .def {
            padding-top: 0.1rem;
        }
    }

    // .dt-en+dd ol.en,
    // .dt-def+dd ol.def {
    //     padding-bottom: 0.2rem;
    // }

    dd:last-of-type {

        .en,
        .def {
            padding-bottom: 0;
        }
    }

    .or {
        padding-left: 0;
    }

    .neg,
    .pl,
    .pp,
    .pt,
    .pt-pp {
        display: block;
    }

    .neg span,
    .pl span,
    .pp span,
    .pt span,
    .pt-pp span,
    .sc,
    .sc-alt {
        font-weight: 600;
    }

    .neg,
    .pl,
    .pp,
    .pt,
    .pt-pp {

        span:not(.audio) {
            padding-bottom: 0.15rem;
        }
    }

    .en {
        font-style: italic;

        em,
        span {
            font-style: normal;
            color: #9e9e9e;
        }
    }

    .def em,
    .def span {
        font-style: italic;
        color: #808080;
    }

    .grammar {
        font-style: italic;
        padding-top: 0.1rem;

        span {
            font-style: normal;
            padding: 0 !important;
        }
    }

    .grammar,
    .pr {
        display: block;

        @media (min-width: 576px) {
            display: inline;
            padding: 0 !important;
        }
    }

    .hl {
        background-color: #a1ff9594;
        border-radius: 7px;
    }

    .grammar,
    .or-container,
    .pr,
    .sc-alt {
        font-size: 0.8rem;
    }

    .grammar,
    .or-container,
    .pr {
        color: #8c8c8c;
    }

    .btn {
        background: none;
        transition: none;
        height: 1.4rem;

        &:focus {
            box-shadow: none;
            outline: 1px dotted #212529;
            outline-offset: 0.1rem;
        }
    }

    .audio-1 {
        display: inline-block;

        @media (min-width: 576px) {
            display: none;
        }
    }

    .audio-2 {
        display: none;

        @media (min-width: 576px) {
            display: inline-block;
        }
    }
}

.text-muted {
    color: #595e63 !important;
}

#search,
.js-warning {
    padding-top: 1.8rem;

    @media (min-width: 576px) {
        padding-top: 2rem;
    }
}

#search {
    .form-group {
        margin-bottom: 1.2rem;
    }

    .form-control {
        font-size: 1.1rem;

        &::placeholder {
            font-weight: 400;
            color: #2125298c;
        }
    }

    .input-group {
        width: 80% !important;

        @media (min-width: 433px) {
            width: 75% !important;
        }

        @media (min-width: 576px) {
            width: 80% !important;
        }

        >.custom-select:not(:last-child),
        >.form-control:not(:last-child) {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        button.btn.bg-transparent {
            margin-left: -49px;
            z-index: 100;
        }
    }

    #searchTextbox {
        border-radius: 2rem;
        padding-left: 1.1rem;
        padding-right: 2.3rem;
        color: #212529;
        font-weight: 400;

        &.form-control-pseudo-focus,
        &:focus {
            color: #212529;
            border-color: #7777771a;
            box-shadow: 0 2px 9px 0 rgba(148, 148, 148, 0.14);
            // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
            // outline: 0;
        }
    }
}

.fade {
    transition: opacity 0.075s linear;

    &.show {
        opacity: 1;
    }
}

.mt-5,
.my-5 {
    margin-top: 1.7rem !important;
}

.h1,
h1 {
    font-size: 2.3rem;
}

button {
    &.btn.bg-transparent:focus:not(:disabled) {
        outline: 0;
        box-shadow: none;
    }

    &.play-audio {
        padding: 0;
        border: 1px solid #212529;
        top: -0.09rem;
        position: relative;
        margin-right: 0.24rem;
        line-height: 1;
        background-color: #c9e1f7 !important;
    }

    &:disabled {
        color: inherit !important;
        opacity: 0.75 !important;
    }

    &#btn-copy {
        margin-bottom: 3rem;
    }

    &#clear-value {
        &:disabled {
            opacity: 0 !important;
        }

        svg {
            position: relative;
            top: 0.2rem;
        }

        &:focus {
            svg {
                outline: 1px dotted #212529;
                outline-offset: 0.1rem;
            }
        }
    }
}

.pt,
.pp,
.pt-pp,
.neg,
.pl {
    button.play-audio svg {
        height: 1.1rem;
        width: 1.2rem;
    }
}

.get-update {
    margin: 0.3rem 0;

    @media (min-width: 576px) {
        margin: 0.5rem 0;
    }
}

.btn-primary {
    background: #0082ff;
    background: radial-gradient(circle, #0082ff 0%, #007bef 100%);
    border-color: #005eb8;
    font-size: inherit;
    padding: 0.3rem 0.7rem 0.35rem;

    &:hover {
        background: #007bef;
        background: radial-gradient(circle, #007bef 0%, #007bef 100%);
    }

    &:not(:disabled):not(.disabled):active {
        background: #006dd3;
        background: radial-gradient(circle, #006dd3 0%, #006dd3 100%);
    }
}

.btn-link-gray {
    border: 0;
    border-bottom: 1px dotted #212529;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

.btn-link-gray .btn-link-gray .btn-link-gray:active {
    color: inherit;
}