ErrorDocument 403 "Error 403"
ErrorDocument 404 "Error 404"
ErrorDocument 500 "Error 500"

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.dev\.scots\.app$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/dev\.scots\.app\/" [R=302,L]

# Rewrite path to query string
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Juist ae item alloued in path efter /q/ (https://httpd.apache.org/docs/trunk/rewrite/remapping.html#rewrite-query)
RewriteRule ^/?q/([^/]+)$ /index.php?q=$1
RewriteRule ^/?dev/q/([^/]+)$ /dev/index.php?q=$1 [L]

# Hide .php from file extension in browser
RewriteEngine On
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# gzip
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>
